@import "../../mixins";

$captionOffsetY: 8rem;

.wrapper {
  margin: 0;

  @include desktop() {
    &:nth-child(even) {
      .caption {
        transform: translate($captionOffsetY, -11rem);
      }
    }
  }
}

.image {
  height: 24rem;
  position: relative;

  @include desktop() {
    height: 30rem;
  }
}

.imageInner {
  display: block;
  height: 100%;
}

.caption {
  background-color: var(--white);
  color: var(--black);
  padding: 1rem 1.2rem;

  @include desktop() {
    align-items: center;
    display: flex;
    justify-content: space-between;
    transform: translate($captionOffsetY, -8rem);
  }
}

.category {
  display: block;
  margin-bottom: 0.25rem;
}

.title {
  @include phone() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  margin: 0;
}

.button {
  display: none;

  @include desktop() {
    display: flex;
    align-items: center;
  }
}

.flower {
  position: absolute;
  top: -4rem;
  right: -4rem;
  max-width: 8rem;
  z-index: 1;
}
