@import "../../mixins";

.wrapper {
  margin: 0;
  // max-width: 18.25rem;
  // width: 75vw;
}

.image {
  height: 24rem;
  position: relative;

  @include desktop() {
    height: 40rem;
  }
}

.imageInner {
  display: block;
  height: 100%;
}

.caption {
  background-color: hsl(var(--white));
  color: hsl(var(--black));
  padding: 1.2rem;

  @include desktop() {
    align-items: center;
    display: flex;
    justify-content: space-between;
    transform: translate(8rem, -10rem);
  }
}

.category,
.title {
  font-size: clamp(1rem, 1.7vw, 1.25rem);
}

.category {
  display: block;
  margin-bottom: 0.25rem;
}

.title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button {
  display: none;

  @include desktop() {
    display: block;
  }
}
