@import "../../mixins";

$offset: 5rem;

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2.2fr;
  position: relative;

  @include desktop() {
    grid-template-columns: 1fr 1.5fr;
    height: 100%;
  }
}

.flower {
  position: absolute;

  @include phone() {
    left: -1rem;
    top: 4rem;
    width: 10rem;
  }

  @include desktop() {
    left: -5rem;
    top: 5rem;
    width: 14rem;
  }
}

.image {
  position: relative;
}

.square {
  aspect-ratio: 1 / 1;
  z-index: 1;

  @include phone() {
    margin-left: calc((var(--gutter) * -1) - 3rem);
    transform: translate(3rem, -4rem);
  }

  @include desktop() {
    margin-left: 0;
    transform: translateX($offset);
    width: 100%;
  }
}

.large {
  height: 22rem;
  margin-right: calc(var(--gutter) * -1);

  @include desktop() {
    align-self: flex-end;
    height: calc(100% - $offset);
    max-width: 23rem;
    margin-right: 0;
  }
}

.button {
  position: absolute;
  z-index: 1;
  width: max-content;

  @include phone() {
    right: 2rem;
    top: calc(($offset * -1) + 0.4rem);
  }

  @include desktop() {
    right: calc(100% + 2rem);
    bottom: 3px;
  }
}
