@import "../mixins";

.hero {
  align-items: flex-end;
  display: flex;
  padding-top: var(--roof);
  min-height: 95vh;

  // @include desktop() {
  //   align-items: flex-end;
  //   display: flex;
  //   min-height: 100vh;
  //   padding-bottom: var(--gutter);
  // }
}

@include desktop() {
  // .heroGrid {
  //   align-items: flex-end;
  // }
}
