@import "../mixins";

.homeHero {
  overflow: hidden;
}

.hero {
  align-items: flex-end;
  padding-top: var(--roof);
  min-height: 100vh;

  @include desktop() {
    grid-template-columns: 1fr 1.25fr;
    padding-bottom: var(--gutter);
  }
}

.subTitle {
  margin-bottom: 0;
}

.heroFlower {
  position: absolute;

  @include phone() {
    left: 100%;
    width: 24rem;
    transform: translateX(-50%) translateY(-50%);
    top: 100%;
    z-index: 1;
  }

  @include desktop() {
    bottom: -25rem;
    right: -22rem;
    width: 50rem;
  }
}

.navFlower {
  position: absolute;

  @include desktop() {
    right: -8rem;
    top: -8rem;
    width: 30rem;
  }

  @include phone() {
    width: 15rem;
    right: -6rem;
    top: -6rem;
  }
}
