@import "../mixins";

.main {
  padding-top: var(--roof);
}

.navFlowerWrapper {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  top: 0;
  overflow: hidden;
  width: 100%;
}

.navFlower {
  position: absolute;
  z-index: 1;
  right: var(--gutter);

  @include phone() {
    top: calc(var(--roof) / 2);
    width: 10rem;
  }
}
