@import "../mixins";

.main {
  padding-top: var(--roof);
}

.navFlowerWrapper {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  top: 0;
  overflow: hidden;
  width: 100%;
}

.navFlower {
  position: absolute;
  right: -8rem;
  top: -8rem;
  width: 30rem;
}
