@import "../mixins";

.wrapper {
  overflow: hidden; // hide the bee's butt!!
  position: relative;
}

.title {
  @include phone() {
    max-width: 16rem;
    margin-left: auto;
    margin-right: auto;
  }

  color: var(--yellow);
}

.body {
  max-width: 34ch;
  margin-left: auto;
  margin-right: auto;

  @include desktop() {
    margin-bottom: 2rem;
    max-width: 65ch;
  }
}

.signature {
  display: grid;
  row-gap: 0.5rem;
  justify-content: center;
  padding-bottom: 1.5rem;

  @include desktop() {
    display: inline-grid;
    column-gap: 10rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.bee {
  position: absolute;
  bottom: -6.2rem;
  transform: translateX(-50%);
  left: 50%;
  max-width: 4rem;

  @include desktop() {
    bottom: -2.25rem;
  }
}
