@import "../mixins";

.body {
  @include phone() {
    margin-bottom: calc(var(--gutter) * 2);
  }

  @include desktop() {
    margin-bottom: 0;
    max-width: 42ch;
  }
}

.project {
  display: flex;
  margin: 0 auto;
  padding-top: calc(var(--gutter) * 1.5);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  padding-bottom: var(--gutter);
  min-height: 100vh;
  max-width: calc(var(--containerMaxWidth) - 3rem);

  @include desktop() {
    min-height: 120vh;
    padding-top: var(--gutter);
  }
}

.overlay,
.darkOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
}

.darkOverlay {
  background: linear-gradient(transparent, var(--black));
}

.content {
  color: var(--yellow);
  display: flex;
  flex-direction: column-reverse;
  z-index: 1;
  position: sticky;
  height: 100%;

  .title,
  .category {
    color: inherit;
  }

  @include phone() {
    top: 70vh;
  }

  @include desktop() {
    top: 55vh;
  }
}

.category {
  margin-top: 0;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

.flower {
  position: absolute;
  right: 30%;
  bottom: -17rem;
  width: 15rem;
}
