@import "../mixins";
@import "../animations";

.section {
  overflow: hidden;

  @include phone() {
    scroll-margin-top: calc(var(--roof) / 1.75); // offset anchor links
  }

  padding-top: calc(var(--gutter) * 1.5);
  padding-bottom: calc(var(--gutter) * 1.5);

  @include desktop() {
    scroll-margin-top: calc(var(--roof) / 1.75);
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
  }
}

.center {
  text-align: center;
}

.wrapper {
  @include phone() {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }

  @include desktop() {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.gradient {
  // animation: gradient 30s ease infinite;
  background: linear-gradient(
    to bottom right,
    var(--lavender),
    var(--pink),
    var(--teal),
    var(--teal),
    var(--green),
    var(--lavender),
    var(--pink),
    var(--teal),
    var(--green),
    var(--green),
    var(--green),
    var(--teal),
    var(--lavender)
  );
  background-size: 400% 400%;
  color: var(--yellow);

  .title {
    color: var(--yellow);
  }
}

.lavender {
  animation: pulse 15s ease-in-out infinite;
  background: radial-gradient(
    at center bottom,
    var(--pink),
    var(--lavender) 40%
  );
  background-position: center center;
  color: var(--yellow);
}

.title {
  margin-top: 0;
}

.padLeft {
  @include desktop() {
    padding-left: calc((100vw - var(--containerMaxWidth)) / 2);
  }
}

.about {
  padding-bottom: 12.125rem;

  @include desktop() {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

.aboutGrid {
  @include phone() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include desktop() {
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    > :nth-child(2) {
      grid-row: 2;
      grid-column: 2;

      p {
        max-width: 50ch;
        margin-top: -2rem;
      }
    }
  }
}
@include desktop() {
  .footer {
    padding-bottom: 0;
  }
}

.flower {
  position: absolute;

  &.flowerLavender {
    @include phone() {
      left: -3rem;
      width: 14rem;
      bottom: -20rem;
    }

    @include desktop() {
      top: 100%;
      left: 0;
    }
  }

  &.flowerPink {
    @include phone() {
      bottom: -11rem;
      right: -2rem;
      width: 10rem;
    }

    @include desktop() {
      bottom: -2rem;
      left: 16rem;
      width: 7rem;
    }
  }

  &.flowerTeal {
    @include phone() {
      display: none;
    }

    @include desktop() {
      z-index: 1;
      bottom: calc(100% - 7rem);
      right: 7rem;
      width: 23rem;
    }
  }
}
