.section {
  padding-top: calc(var(--gutter) * 1.5);
  padding-bottom: calc(var(--gutter) * 1.5);
  scroll-margin-top: calc(var(--gutter) * 3); // offset anchor links
}

.center {
  text-align: center;
}

.gradient {
  background: linear-gradient(
    to bottom right,
    hsl(var(--teal)),
    hsl(var(--green))
  );
  color: hsl(var(--yellow));

  .title {
    color: hsl(var(--yellow));
  }
}

.lavender {
  background: radial-gradient(
    at center bottom,
    #eda9e9,
    hsl(var(--lavender)) 80%
  );
  color: hsl(var(--yellow));
}

.title {
  margin-top: 0;
}

.padLeft {
  padding-left: var(--gutter);
}

.about {
  padding-bottom: 12.125rem;
}
