@import "../../mixins";

.wrapper {
  overflow: hidden;

  @include phone() {
    padding-left: var(--gutter);
  }
  @include desktop() {
    padding-left: calc((100vw - var(--containerMaxWidth)) / 2);
  }
}

.grid {
  display: grid;
  grid-auto-columns: 98%;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  padding-left: var(--gutter);

  @include desktop() {
    grid-auto-columns: 23rem;
    grid-column-gap: 10rem;
  }
}

.carousel {
  margin-bottom: var(--gutter);

  @include desktop() {
    margin-bottom: 0;
  }
}

.buttons {
  align-items: center;
  color: var(--yellow);
  column-gap: 1rem;
  display: flex;
  justify-content: center;
  margin-left: calc(var(--gutter) * -1);
  margin-top: -2rem;
}
