@import "./_mixins.scss";

// @font-face {
//   font-family: "Dela Gothic";
//   src: url("../assets/fonts/DelaGothicOne-Regular.ttf");
//   font-display: swap;
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: "Forum";
  src: url("../assets/fonts/Forum-Regular.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

:root {
  /* fonts */
  --fontForum: "Forum", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --fontDelaGothic: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* colors */
  --black: #383838;
  --white: #ffffff;

  --lavender: #c29ce3;
  --yellow: #fffdea;
  --teal: #9ce0e3;

  --green: #89dfa9;
  --pink: #eda9e9;

  /* spacing */
  --gutter: 2.5rem;
  --roof: 9rem;
  --containerMaxWidth: 80rem;

  --animationGradient: 15s ease infinite;
}

@include desktop() {
  :root {
    --gutter: 5.7rem;
    --roof: 7rem;
  }
}

html,
body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--yellow);
  color: var(--black);
  line-height: 1.5;
  font-size: clamp(16px, 2vw, 20px);
  font-family: var(--fontForum);
  padding: 0;
  margin: 0;
  // scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontDelaGothic);
  font-weight: 400;
}

h1 {
  font-size: clamp(2.815rem, 5.5vw, 6rem);
}

h2 {
  font-size: clamp(1.25rem, 1.6vw, 1.5rem);
  margin-bottom: 1.85rem;
}

h3 {
  font-size: inherit;
}

h2 + h3 {
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
}

p {
  max-width: 34.5ch;

  @include desktop() {
    max-width: 47ch;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative;
}

img {
  max-width: 100%;
}
