:root {
  /* fonts */
  --fontForum: "Forum", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --fontDelaGothic: "Dela Gothic", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  /* colors */
  --black: 0, 0%, 22%;
  --white: 0, 0%, 100%;

  --lavender: 272, 56%, 75%;
  --yellow: 54, 100%, 96%;
  --teal: 183, 56%, 75%;

  --green: 126, 53%, 71%;
  --pink: 309, 79%, 82%;

  /* spacing */
  --gutter: 2.5rem;
}

@font-face {
  font-family: "Dela Gothic";
  src: url("../assets/fonts/DelaGothicOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Forum";
  src: url("../assets/fonts/Forum-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  background-color: hsl(var(--yellow));
  color: hsl(var(--black));
  line-height: 1.5;
  font-family: var(--fontForum);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontDelaGothic);
  font-weight: 400;
}

h1 {
  font-size: clamp(2.815rem, 8vw, 7.5rem);
}

h2 {
  font-size: clamp(1.25rem, 3vw, 1.875rem);
}

h2 + h3 {
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
}

p {
  max-width: 34.5ch;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative;
}

img {
  max-width: 100%;
}
